@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: black;
  background-image: url("../../public/background.png") !important;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif; 
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
